/*Added by xiyu, 2017.06.13 */
/*为使select可即时筛选而增加的样式*/
/*------START------*/
div.FilterableSelectContainer ul li span.highlight{
    color:red;
}

div.FilterableSelectContainer{
    position:relative;
    display:inline-block;
    vertical-align:middle;/*applies to inline or table-cell box; control the element itself to vertically align in its containing line box*/
}

div.FilterableSelectContainer>span:first-child{
    background-color:aquamarine;
    border:1px solid black;
    border-right:none;
    position:relative;
    float:left;
}

div.FilterableSelectContainer select{
}

div.FilterableSelectContainer input[type='text']{
    position:absolute;
    padding:3px;
    border:none;
    line-height:1;
}

div.FilterableSelectContainer input[type='text']:hover{
    border-color:#3385ff;/*百度输入框的border颜色*/
}

div.FilterableSelectContainer>span:first-child+span{/*第二个span，模拟下拉框三角箭头*/

    background-image:url(down-arrow-16px.png);
    background-repeat:no-repeat;
    background-position:center;
    border:1px solid black;
    border-left:none;
    float:left;
    line-height:1;
    width:20px;/*滚动条宽度17px,20更好看~*/
}

div.FilterableSelectContainer div{
    max-height:300px;
    background-color:aliceblue;/*seashell*/
    display:none;
    overflow:auto;
    position:absolute;
    border:1px solid gray;
    border-top:none;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
}
div.FilterableSelectContainer div ul{
    list-style:none;
    padding-left:0px;
}
div.FilterableSelectContainer div ul li{
    padding:5px;
    margin:2px;
}
div.FilterableSelectContainer div ul li:hover{
    background-color:dodgerblue;
    color:white;
}

div.FilterableSelectContainer:hover>span:first-child,div.FilterableSelectContainer:hover>span:first-child+span{
    border-color:#3385ff;
}
/*hover箭头，换一幅图*/
div.FilterableSelectContainer>span:first-child+span:hover{
    background-image:url(down-arrow-reverse-color-16px.png);
    background-color:#3385ff;
}
/*------END------*/